<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>YASS Surveys</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Reset Styling-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!--Personal Styling-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="d-flex flex-column" id="main-body">

    <!--Header-->
    <header class="header-class">
        <nav class="navbar navbar-dark navbar-expand-lg">
            <a class="navbar-brand nav-title px-2" href="https://nmikstas.github.io/portfolio/index.html">Nick Mikstas Portfolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="container text-center">
                <h1>InfoWars Mongo Scraper</h1>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/resume.html">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/web.html">Web</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/embedded.html">Embedded</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/fpga.html">FPGA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/dsp.html">DSP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://nmikstas.github.io/portfolio/games.html">Games</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    {{{ body }}}

</body>
</html>
