<div id="page-body" class="container">
    <div class="header-div">
        <h1 class="header-h1">Scraped Articles</h1>
        <button class="btn btn-outline-primary spacer" id="home-btn">Home</button>
        <button class="btn btn-outline-primary" id="articles-btn">View Saved Articles</button>
    </div>
    
    {{#each results}}
        <div class="article-div row">
            <div class="col-md-9">
                <a href="{{link}}" class="article-link">{{title}}</a>
            </div>
            <div class="col-md-3">
                <button class="btn btn-outline-success my-2 save-btn" data-text="{{title}}" data-link="{{link}}">Save Article</button>
            </div>
        </div>
    {{/each}}
</div>

<!--Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--Home Javascript-->
<script type="text/javascript" src="js/scrape.js"></script>